{% extends "default.html" %}

{% block lh %}
    <form action="/do/{{ mod_name }}" method="POST" ></form>
    <div class="alert alert-dark" id="gp1" >
        <form class="form-inline" action="/do/{{ mod_name }}" method="POST" >
        <input id="T" type="text" class="input-small" style="width:3cm;" placeholder="温度：℃">&nbsp;&nbsp;&nbsp;
        <input id="P" type="text" class="input-small" style="width:3cm;" placeholder="压力：MPa">&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-sm">查询</button>
        </form>
    </div>

    <div class="alert alert-dark" id="gp2" >
        <form class="form-inline" action="/do/{{ mod_name }}" method="POST" >
        <input id="T" type="text" class="input-small" style="width:3cm;" placeholder="温度：℃">&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-sm">查询</button>
        </form>
    </div>

    <div class="alert alert-dark" id="gp3" >
        <form class="form-inline" action="/do/{{ mod_name }}" method="POST" >
        <input id="P" type="text" class="input-small" style="width:3cm;" placeholder="压力：MPa">&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-sm">查询</button>
        </form>
    </div>

    <div class="alert alert-dark" id="gp4" >
        <form class="form-inline" action="/do/{{ mod_name }}" method="POST" >
        <input id="T" type="text" class="input-small" style="width:3cm;" placeholder="温度：℃">&nbsp;&nbsp;&nbsp;
        <input id="h" type="text" class="input-small" style="width:3cm;" placeholder="焓值：kJ/kg">&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-sm">查询</button>
        </form>
    </div>

    <div class="alert alert-dark" id="gp5" >
        <form class="form-inline" action="/do/{{ mod_name }}" method="POST" >
        <input id="P" type="text" class="input-small" style="width:3cm;"  placeholder="压力：MPa">&nbsp;&nbsp;&nbsp;
        <input id="h" type="text" class="input-small" style="width:3cm;" placeholder="焓值：kJ/kg">&nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-sm">查询</button>
        </form>
    </div>

{% endblock %}