{% extends "base.html" %}
{% block lh %}

    <div class="alert alert-dark" align="left"><strong>模型介绍</strong></div>
    <p align="left">股票数据分析模型</p>
    <div class="alert alert-dark" align="left"><strong>股票查询</strong></div>
        <div  style="margin-bottom: 10px;margin-left: 10px" >
            <form id="modInput">
                <table>
                    <tbody>
                        <thead>
                        <tr>
                            <th style="width:2.2cm; padding:2px;vertical-align: middle; font-size: 15px">股票代码：</th>
                            <th style="width:3cm; padding:20px;vertical-align: middle; font-size: 15px"><input type="text" style="width:4cm;height:30px;margin:4px;padding:2px" name="stockid" class="form-control"></th>
                            <th style="width:2.2cm; padding:2px;vertical-align: middle; font-size: 15px">起始日期：</th>
                            <th style="width:3cm; padding:20px;vertical-align: middle; font-size: 15px"><input type="text" style="width:4cm;height:30px;margin:4px;padding:2px" name="sdate" class="form-control" value="2017-02-10"></th>
                            <th style="width:2.2cm; padding:2px;vertical-align: middle; font-size: 15px">结束日期：</th>
                            <th style="width:3cm; padding:20px;vertical-align: middle; font-size: 15px"><input type="text" style="width:4cm;height:30px;margin:4px;padding:2px" name="edate" class="form-control" value="2018-02-10"></th>
                        </tr>
                        </thead>
                    </tbody>
                </table>
            </form>
            <div>
                <center><button href="javascript:void(0)" "id="btn-do" onclick="doAjax();" class="btn btn-primary" style="width:3cm">检索数据</button></center>
            </div>
        </div>
    <table class="easyui-datagrid" id="dg" title="历史交易数据" style="width:100%;max-height:500px;height:auto">
        <thead>
            <tr>
                <th data-options="field:'date', width:100, align:'center'">日期</th>
                <th data-options="field:'open', width:100, align:'center'">开盘价</th>
                <th data-options="field:'close', width:100, align:'center'">收盘价</th>
                <th data-options="field:'high',width:100, align:'center'">最高价</th>
                <th data-options="field:'low',width:100, align:'center'">最低价</th>
                <th data-options="field:'volume',width:100, align:'center'">成交量</th>
            </tr>
        </thead>
    </table>
    <div  style="margin-top:20px; margin-bottom: 20px;margin-left: 10px" >
        <center><button href="javascript:void(0)" "id="btn-do" onclick=";" class="btn btn-primary" style="width:3cm">下载数据</button></center>
    </div>

    <div class="easyui-panel" title='价格波动图' style="width:100%;padding:30px;" data-options="collapsible:true">
        <center><img id="stockimg" src="#" class="rounded float-center" style="display:none"></center>
    </div>


<!-- 脚本区域 -->
    <script type="text/javascript">
    function doAjax(){
        $.ajax({
            url:'{{ '/do/'+info['modID'] }}',
            type:'POST',
            data:$("#modInput").serialize(),
            error: function(){alert('error');},
            success:function(data){console.info(data);$("#dg").datagrid('loadData',data);setdbgrid(data)}
            });
    }
    function setdbgrid(st){
        $('#dg').datagrid({
                loadMsg: '数据装载中......',
                sortName: 'date',
                singleSelect: true,
                pagination: false,
                rownumbers: true,
                title: st.stockname
            });
        $('#stockimg').css("display","block");
        $('#stockimg').attr('src', "/"+st.fn );
    }
    </script>

{% endblock %}