#container{
	width:800px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:11px;
}
#header {
	height:100px;
	float:none;
	width:100%;
	background:#39C;
}
#nav {
	padding:10px;
	float:left;
	width:20%;
	height:1000px;
	background:#8AABCA;
}
#content {
	float:right;
	background:#F2F2F2;
	width:80%;
	height:1000px;
}
#footer {
	clear:both;
	height:100px;
	width:100%;
	background:#11406C
}