<!DOCTYPE html>
<html lang="en">
<head>
    <title>热机小助手</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="LH1981">

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href="../static/easyui/themes/gray/easyui.css">
	<link rel="stylesheet" type="text/css" href="../static/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../static/css/simple-sidebar.css" >

    <!-- <script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script> -->
    <script type="text/javascript" src="../static/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../static/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.bundle.min.js"></script>
    <!-- <script type="text/javascript" src="../static/easyui/jquery.min.js"></script> -->

</head>
<body>

<div>
    <div id="wrapper" class="toggled">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">热机小助手</a>
                </li>
                {% for modgroup in groupinfo %}
                <li style="text-indent: 20px"><a href="#" data-toggle="collapse" data-target="#{{ modgroup }}" >{{ modgroup }}</a></li>
                    <div id="{{ modgroup }}" class="collapse">
                     {% for key,value in modinfo.items() %}
                       {% if value['modGroup']==modgroup %}
                       <li><a href={{ "/show/" + value['modID'] }}>{{ value['modName'] }}</a></li>
                       {% endif %}
                     {% endfor %}
                    </div>
                {% endfor %}
            </ul>
        </div>
        <div id="page-content-wrapper">
            <div>
                <a href="#" class="btn btn-secondary btn-sm" id="menu-toggle" style="margin-left: 20px">隐藏/显示模型库</a>
                <hr>
            </div>
            <div style="margin-top: 30px;padding-left: 150px;padding-right: 150px" class="container-fluid" >
            {% block lh %}
            {% endblock %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../static/js/particle.js"></script>
<canvas id="c_n25" width="1600" height="465" style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 0.5;"></canvas>

</body>

<script type="text/javascript">
    $(document).ready(function() {

      handleStatusChanged();
    });
    $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
    });
    function handleStatusChanged() {
        $('#toggleElement').on('change', function () {
          toggleStatus();
        });
    }
    function toggleStatus() {
        if ($('#toggleElement').is(':checked')) {
            $('#elementsToOperateOn :input').attr('disabled', true);
        } else {
            $('#elementsToOperateOn :input').removeAttr('disabled');
        }
    }
</script>



</html>
