{% extends "base.html" %}
{% block lh %}
    <div>
        <h2 class="font-weight-bold">网站介绍</h2>
        <p class="lead">热机小助手是一个在线的工程设计辅助工具，将能源、环保类工程常用计算方法和模型进行封装，方便设计者的调用。通用模块算法均出自业内教科书和技术手册。</p>
        <p class="lead">网站所提供的计算结果仅供参考，建议户自行校核。</p>
        <p class="lead">如有任何意见和建议，或者需要定制计算请联系123456@qq.com</p>
        <p class="lead">已发布的算法如下：</p>
        <ul>
        	{% for key,value in modinfo.items() %}
        	<li class='lead'>{{ value['modName'] }}
        	{% endfor %}
        </ul>
    </div>
{% endblock %}