<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>多语种佛教词典Beta</title>
    <link href="static/css/index.css" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="http://www.frdic.com/" target="_blank">法语助手</a>
        <a href="http://frenchfriend.net/" target="_blank">法语翻译之友</a>
        <a href="http://dict.youdao.com/" target="_blank">有道词典</a>
        <a href="https://www.wikipedia.org/" target="_blank">WiKi</a>
        <hr style="background-color: #8E8E8E; height: 1px; border: none" >
    </div>
    <div id="content">
        <div class="content-top">
            <img src="static/image/logo.jpg" alt="煎饼查">
        </div>
        <div class="content-bottom">
            <input name="wd" type="text">
            <a href="#" onclick="window.open('query?word=' + document.getElementsByName('wd')[0].value ,'_blank')">查 询</a>
        </div>
    </div>
    <div id="footer">
        <div class="footer-bottom">
            <p>©2018 dict4u</p>
            <p>仅供内部交流用，禁止传播</p>
            <a href="#">意见反馈</a>
        </div>
    </div>
</body>
</html>