{% extends "base.html" %}
{% block lh %}

    <div class="alert alert-dark" align="left"><strong>模型介绍</strong></div>
    <p align="left">{{ info['modInfo']|safe }}</p>
    <div class="alert alert-dark" align="left"><strong>模型计算</strong></div>
            <div class="easyui-panel" title='输入参数列表' style="width:100%;padding:30px;" data-options="collapsible:true">
                <div  style="margin-bottom: 10px;margin-left: 10px" >
                <form id="modInput">
                <table class="table table-bordered">
                    <tbody>
                    {% for varinfo in info['modVar'] %}
                    <tr>
                    <td style="width:6cm; padding:2px;vertical-align: middle; font-size: 15px">{{ varinfo['varName'] }}</td>
                    {% if varinfo['varVal'] != '' %}
                    <td style="width:3cm; padding:2px;vertical-align: middle; font-size: 15px "><input type="text" style="width:3cm;height:30px;margin:4px;padding:2px" class="form-control" value= {{ varinfo['varVal'] }} name={{ varinfo['varID'] }} id={{ varinfo['varID'] }} ></td>
                    {% else %}
                    <td style="width:3cm; padding:2px;vertical-align: middle "><input type="text" style="width:3cm;height:30px;margin:4px;padding:2px" class="form-control" name={{ varinfo['varID'] }} id={{ varinfo['varID'] }} ></td>
                    {% endif %}
                    <td style="width:3cm; padding:2px;vertical-align: middle; font-size: 15px ">{{ varinfo['varUnit'] }}</td>
                    <td style="width:8cm; padding:2px;vertical-align: middle; font-size: 15px ">{{ varinfo['varMemo'] }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </form>
                <center><button href="javascript:void(0)" "id="btn-do" onclick="doAjax();" class="btn btn-primary" style="width:3cm">计  算</button></center>
                </div>
            </div>
    <hr>
    <table class="easyui-datagrid" id="dg" title="计算结果" style="width:100%;height:auto" data-options="singleSelect:true,
    collapsible:true,
    pagination:false, 
    rownumbers:true,">
                    <thead>
                        <tr>
                            <th data-options="field:'varName', width:250, align:'center'">变量名称</th>
                            <th data-options="field:'varID',width:80, align:'center'">符号</th>
                            <th data-options="field:'varVal',width:80, align:'center'">数值</th>
                            <th data-options="field:'varUnit',width:80, align:'center'">单位</th>
                            <th data-options="field:'varMemo',width:300, align:'center'">备注</th>
                        </tr>
                    </thead>
                </table>

    <script type="text/javascript">
    function doAjax(){
        $.ajax({
            url:'{{ '/do/'+info['modID'] }}',
            type:'POST',
            data:$("#modInput").serialize(),
            error: function(){alert('error');},
            success:function(data){console.info(data);$("#dg").datagrid('loadData',data).datagrid-cell('font-size','15px')}
            });
    }
    // function doAjax1(){
    //     var rlt = $.post("ajax","",function(data){$("#div-ajax").html(data);});
    // }
    </script>

{% endblock %}