{% extends "default.html" %}
{% block lh %}
    <div class="alert alert-dark"><strong>模型说明</strong></div>
    <p><img src="https://gss1.bdstatic.com/-vo3dSag_xI4khGkpoWK1HF6hhy/baike/w%3D268%3Bg%3D0/sign=61a8537408e9390156028a3843d733da/1f178a82b9014a90eb72ade9a0773912b31bee12.jpg" class="img-rounded"</p>
    <p>旋风分离器，是用于气固体系或者液固体系的分离的一种设备。工作原理为靠气流切向引入造成的旋转运动，使具有较大惯性离心力的固体颗粒或液滴甩向外壁面分开。旋风分离器的主要特点是结构简单、操作弹性大、效率较高、管理维修方便，价格低廉，用于捕集直径5～10μm以上的粉尘，广泛应用于制药工业中，特别适合粉尘颗粒较粗，含尘浓度较大，高温、高压条件下，也常作为流化床反应器的内分离装置，或作为预分离器使用，是工业上应用很广的一种分离设备。</p>
    <div class="alert alert-dark"><strong>算法说明</strong></div>
    <p>模型算法依据：岑可法等《循环硫化床锅炉理论、设计与运行》北京：中国电力出版社.1997</p>
	<form action="/do/{{ mod_name }}" method="POST" target="_blank" >
    {% for modtype in var[0] %}
    <div class="alert alert-dark">
      <strong>{{ modtype }}</strong>
    </div>
        <div  style="margin-bottom: 10px;margin-left: 10px" >
        {% for moddata in var[1] %}
            <table>
                {% if moddata['type']==modtype %}
                <tbody>
                <tr>
                <td style="width:8cm">{{ moddata['text'] }}</td>
                {% if moddata['value'] != '' %}
                <td style="width:3cm"><input type="text" style="width:3cm;height:30px;margin:4px;padding:2px" class="form-control" value= {{ moddata['value'] }} name={{ moddata['id'] }} id={{ moddata['id'] }} placeholder="必填"></td>
                {% else %}
                <td style="width:3cm"><input type="text" style="width:3cm;height:30px;margin:4px;padding:2px" class="form-control" name={{ moddata['id'] }} id={{ moddata['id'] }} placeholder="必填"></td>
                {% endif %}
                <td style="width:3cm">{{ moddata['unit'] }}</td>
                <td style="width:8cm">{{ moddata['memo'] }}</td>
                </tr>
                </tbody>
                {% endif %}
            </table>
        {% endfor %}
        </div>
    {% endfor %}
    <center><button type="submit" class="btn btn-primary" style="width:3cm">计  算</button></center>
	</form>
{% endblock %}